<section>
  <div class="contentBx">
    <div class="formBx">
      <form>
        <div class="inputBx">
          <span>document</span>
          <input type="text" id="document" [(ngModel)]="person.document" name="document">
        </div>
        <div class="inputBx">
          <span>name</span>
          <input type="text" id="firstName" [(ngModel)]="person.firstName" name="firstName">
        </div>
        <div class="inputBx">
          <span>status</span>
          <input type="text" id="lastName" [(ngModel)]="person.lastName" name="lastName">
        </div>
        <div class="inputBx">
          <span>edad</span>
          <input type="text" id="age" [(ngModel)]="person.age" name="age">
        </div>
        <button *ngIf="!person.id else updateForm" (click)='createPerson()'>save</button>
        <div class="inputBx">
          <ng-template #updateForm>
            <button (click)='updatePerson()'>update</button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</section>
