<div class="container">
    <!-- navigation -->
    <app-sidebar></app-sidebar>
    <!-- main -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
            </div>
            <div class="search">
                <label for="">
                    <input type="text" placeholder="search">
                </label>
            </div>
            <div class="user">
                <img src="images/user.jpg">
            </div>
        </div>
        <!-- cards -->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">
                        1,504
                    </div>
                    <div class="cardName">
                        Daily Views
                    </div>
                </div>
                <div class="iconBx">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">
                        80
                    </div>
                    <div class="cardName">
                        Sales
                    </div>
                </div>
                <div class="iconBx">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">
                        80
                    </div>
                    <div class="cardName">
                        Sales
                    </div>
                </div>
                <div class="iconBx">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">
                        1,504
                    </div>
                    <div class="cardName">
                        Daily Views
                    </div>
                </div>
                <div class="iconBx">
                </div>
            </div>
        </div>
        <!-- order details list -->
        <router-outlet></router-outlet>
        
    </div>
</div>
