<div class="navigation">
    <ul>
        <li>
            <a>
                <span class="icon">
                </span>
                <span class="title">invoicing online</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon">
                </span>
                <span class="title">customers</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon">
                </span>
                <span class="title">sellers</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon">
                </span>
                <span class="title">invoices</span>
            </a>
        </li>
    </ul>
</div>
