<section>
  <div class="">
    <div class="">
      <form>
        <div class="">
          <span>Numero factura</span>
          <input type="text" id="id" [(ngModel)]="invoicing.id" name="id">
        </div>
        <button *ngIf="!person.id else updateForm" (click)='createInvoicing()'>save</button>
        <div class="inputBx">
          <ng-template #updateForm>
            <button (click)='updateInvoicing()'>update</button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</section>
